{% from 'macros.html' import render_post %}
<html>
    <head>
        <title>4fun</title>
    </head>
    <form action="new-post" method="post">
        <div>
            <label>Title</label>
            <input type="text" name="title" class="form-title" required>
        </div>
        <div>
            <label>Content</label>
            <textarea type="text" name="content" class="form-content"></textarea>
        </div>
        <input type="submit" value="submit"/>
    </form>
    <body>
        <div class="thread">
        {% for thread_id in threads %}
            {{ render_post(posts_by_id[thread_id]) }}
            <a href="/reply/{{ posts_by_id[thread_id]['id'] }}">Reply</a>

            <div class="children">
                {% for child_id in threads[thread_id] %}
                    {{ render_post(posts_by_id[child_id]) }}
                {% endfor %}
            </div>
        {% endfor %}
        </div>
    </body>
</html>
