<html>
    <head>
        <title>4fun</title>
    </head>
    <form action="new-post" method="post">
        <div>
            <label>Title</label>
            <input type="text" name="title" class="form-title" required>
        </div>
        <div>
            <label>Content</label>
            <textarea type="text" name="content" class="form-content"></textarea>
        </div>
        <input type="submit" value="submit"/>
    </form>
    <body>
        <div class="thread">
        {% for thread_id in threads %}
            <div class="post-header">
                <div>{{ posts_by_id[thread_id]["title"] }}</div>
                <div>{{ posts_by_id[thread_id]["id"] }}</div>
                <div>{{ posts_by_id[thread_id]["date"].strftime("%d/%m/%y %H:%M") }}</div>
            </div>
            <div class="content">
                {{ posts_by_id[thread_id]["content"] }}
            </div>
            <a href="/reply/{{ posts_by_id[thread_id]['id'] }}">Reply</a>
            <div class="children">
            {% for child_id in threads[thread_id] %}
                <div class="post-header">
                    <div>{{ posts_by_id[child_id]["title"] }}</div>
                    <div>{{ posts_by_id[child_id]["id"] }}</div>
                    <div>{{ posts_by_id[child_id]["date"].strftime("%d/%m/%y %H:%M") }}</div>
                </div>
                <div class="content">
                    {{ posts_by_id[child_id]["content"] }}
                </div>
            {% endfor %}
            </div>
        {% endfor %}
        </div>
    </body>
</html>
