<!doctype html>
{% from 'macros.html' import render_post %}
<html lang="he">
    <head>
        <title>Replying to {{ title }}</title>
    </head>
    <body>
        <form action="/reply/{{ post.id }}" method="post">
            <div>
                <label>Content</label>
                <textarea type="text" name="content" class="form-content"></textarea>
            </div>
            <input type="hidden" name="parent" value="{{ post.id }}">
            <input type="submit" value="submit"/>
        </form>
        {{ render_post(post) }}
    </body>
</html>
